<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}VulnManager{% endblock %}</title>
    {% include 'style.html' %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 py-2 shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="/">VulnManager</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
                <ul class="navbar-nav align-items-center gap-3">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home') }}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/apps">Aplicações</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/me">Perfil</a>
                    </li>
                    <li class="nav-item me-2">
                        <span class="nav-link disabled text-light">Olá, {{ current_user.name }}</span>
                    </li>
                    <li class="nav-item">
                        <form method="POST" action="{{ url_for('logout') }}" class="d-inline">
                            <button type="submit" class="btn btn-outline-light btn-sm">Sair</button>
                        </form>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login_page') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('register_page') }}">Criar Conta</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <footer>
        &copy; 2025 - Projeto de TCC UNIGRAN - Engenharia de Software
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>